---
---
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background:url('{{ site.baseurl }}/images/stock_chessboard.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  /*background:url('{{ site.baseurl }}/images/stock_chessboard.jpg') no-repeat center center;*/
  /*background-size:cover;*/
  /*-webkit-background-origin:border;*/
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

body > .container {
  padding-top: 70px;
}

/*h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}*/

/*h1 { margin-bottom: 1em; }*/
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Main Nav
/*
/*****************************************************************************/

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  height: 28px;
}

footer div {
  background-color: #FFF;
}

.carousel .item {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(119, 119, 119);
    /* RGBa with 0.6 opacity */
    background-color: rgba(119, 119, 119, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.carousel .item .container div {
  text-align: center;
  margin-top: 50px;
}

/**
 * Content Div
 */
.content {
  background-color: white;
  padding:20px;
  margin: 20px;
  width: 97%;
}

.content ul {
  padding-left: 20px;
}

/*
 * Homepage BlockQuote
 */

.quote-section {
	padding:0 50px;
}
.bqstart {
	float: left;
	height: 45px;
	margin: -50px -15px;
	padding-top: 0;
	font-size: 700%;
	color: #000;
 }

 .bqend {
	float: right;
	height: 25px;
	margin-top: -8px;
	padding-top: 0;
	font-size: 700%;
	color: #000;
 }
 .quote {
 	padding-left: 25px;
 	font-size: 1.2em;
 	display:block;
 }
 .author {
 	clear: both;
	padding-top: 30px;
	float: right;
	font-size: 1.5em;
	font-weight: bold;
 }
 .quote-section blockquote {
 	padding: 0;
	margin: 0;
	border-left: none;
}

.white-box { 
	background: white;
}