<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="">

		<title>{{ page.title }}</title>
		
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link href="/nychesscastle/css/carousel.css" rel="stylesheet">
		<link href="/nychesscastle/css/main.css" rel="stylesheet">
		
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/nychesscastle/js/holder.js"></script>

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- bootstrap navbar -->
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							 <a class="navbar-brand" href="/nychesscastle/">
									<img src="/nychesscastle/images/castle.png" />
									<span>Chess Castle</span>
								</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="#">&nbsp;</a></li>
								<li class="active"><a href="/nychesscastle/">Home</a></li>
								<li><a href="/nychesscastle/camp">Camp</a></li>
								<li><a href="/nychesscastle/tournaments">Tournaments</a></li>
								<li><a href="/nychesscastle/lessons">Lessons</a></li>
								<li><a href="/nychesscastle/programs">School Programs</a></li>
								<li><a href="/nychesscastle/gallery">Photo Gallery</a></li>
								<li><a href="/nychesscastle/coaches">Coaches</a></li>
								<li><a href="/nychesscastle/about">About</a></li>
								<li><a href="/nychesscastle/contact">Contact</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
		<div class="container">
			<div class="row">
				{{ content }}
			</div>
			<footer>
				<div class="col-lg-6">
					<p>&copy; 2014 NYChessCastle &middot; <a href="/nychesscastle/privacy">Privacy</a> &middot; <a href="#">Terms</a></p>
				</div>
				<div class="col-lg-6">
			  		<p class="pull-right"><a href="#">Back to top</a></p>
				</div>
			</footer>
		</div>
	</body>
</html>